}
div {
    text-align:left;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
    padding-bottom: 30px;
    Color: white;
}
h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.email { font-size: 10px;
        margin-left: 5px;}

.password { font-size: 10px;
    margin-left: 5px;
}

form {
    text-align: center;
}
